<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SNU Scheduler</title>
</head>
<body>
	<h1>Hi</h1>
	<form action="/database/search" method="GET">
		<input type="text" name="name">
		<button>Submit</button>
	</form>
</body>
</html>