<% layout('layouts/boilerplate') %>
<h2>Add custom subject</h2>
<form action="/" method="POST" class="row g-3 needs-validation" novalidate>
	<div class="col-md-4">
		<label for="subjectName" class="form-label">Subject Name: </label>
		<input type="text" class="form-control" id="subjectName" name="subjectName" required><br>
		<div class="valid-feedback">
      		Looks good!
    	</div>
	</div>

	<% for(let yoil of daysOfWeek) { %>
		<div class="col-md-6">
			<label for="<%= yoil[1]%>" class="form-label"><%= yoil[0] %> Time:</label>
			<input type="text" class="form-control" id="<%= yoil[1]%>" name="<%= yoil[1] %>"><br>
		</div>
	<% } %>

	<div class="col-md-4">
	    <input type="checkbox" id="mustTake" name="mustTake" value="true" required>
	    <label for="mustTake">I must take this course.</label>
	</div>
	
	<div class="col-md-4">
		<label for="weight" class="form-label">Importance: </label>
		<input type="number" class="form-control" id="weight" name="weight" required>
		<div class="valid-feedback">
      		Looks good!
    	</div>
	</div>

	<div class="col-md-4">
		<label for="credit" class="form-label">Credit: </label>
		<input type="number" class="form-control" id="credit" name="credit" required>
		<div class="valid-feedback">
      		Looks good!
    	</div>
	</div>
	
	<button class="btn btn-primary" type="submit">Submit</button>
</form>

  <a href="/">Return to main page</a>